@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-slate-800 bg-background;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-dark font-semibold;
  }
}
